@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	2.1 - Main
	2.2 - Sub
	2.3 - Footer
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
    3.2 - Section Name
    3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
    5.2 - Text Colors
    5.3 - Text Sizes
    5.4 - Alignments
6.0 - Media Queries
--------------------------------------------------------------*/

*, *:after, *:before {
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/*--------------------------------------------------------------
1.0 - Typography
-------------------------------------------------------------- */

/*--- 1.1 Headings ---*/
/*--- 1.2 - Body Copy ---*/
/*--- 1.3 - Buttons ---*/
/*--- 1.4 - Forms ---*/
/*--- 1.5 - Lists ---*/
/*--- 1.6 - Tables ---*/


/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */

/*--- 2.1 - Main ---*/
/*--- 2.2 - Sub ---*/
/*--- 2.3 - Footer ---*/

/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */

/*--- 3.1 - Site Structure ---*/

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

[class*="col-"] {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
}

[class*="col-"]:last-of-type {
	padding-right: 0;
}

[class*="col-"]:first-of-type {
	padding-left: 0;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}

.col-1-5 {
	width: 20%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-1-6 {
	width: 16.66%;
}

.col-5-6 {
	width: 83.33%;
}

.col-1-7 {
	width: 14.28%
}

.col-2-7 {
	width: 28.57%;
}

.col-5-7 {
	width: 71.43%;
}

.col-1-8 {
	width: 12.5%;
}

.col-3-8 {
	width: 37.5%;
}

.col-5-8 {
	width: 62.5%;
}

.col-1-9 {
	width: 11.11%;
}

.col-2-9 {
	width: 22.22%;
}

.col-7-9 {
	width: 77.77%;
}

.col-1-10 {
	width: 10%;
}

.col-3-10 {
	width: 30%;
}

.col-7-10 {
	width: 70%;
}

.col-1-11 {
	width: 9.09%;
}

.col-5-11 {
	width: 45.45%;
}

.col-6-11 {
	width: 54.54%;
}

.col-1-12 {
	width: 8.33%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.33%;
}

/*--- 3.2 - Section Name ---*/
/*--- 3.3 - Section Name ---*/

/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */

.img-responsive {
	max-width: 100%;
	display: block; 
	height: auto;
}

/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */

/*--- 5.1 - Background Colors ---*/
/*--- 5.2 - Text Colors ---*/
/*--- 5.3 - Text Sizes ---*/
/*--- 5.4 - Alignments ---*/


/*-------------------------------------------------------------- 
6.0 - Media Queries
-------------------------------------------------------------- */

@media screen and (max-width: 480px) {
	.wrapper {
		width: 90%;
	}
	
	.col-1-4, .col-3-4, .col-1-8, .col-1-10 {
		width: 50%;
	}
	
	.col-1-4:nth-child(even), .col-1-5, .col-1-6:nth-child(3), .col-1-7, .col-1-8:nth-child(even), .col-1-9:nth-child(3), .col-1-9:nth-child(6), .col-1-10:nth-child(even), .col-1-11, .col-1-12:nth-child(3), .col-1-12:nth-child(6), .col-1-12:nth-child(9) {
		padding-right: 0;
	}
	
	.col-1-4:nth-child(3), .col-1-5, .col-1-6:nth-child(4), .col-1-7, .col-1-8:nth-child(odd), .col-1-9:nth-child(4), .col-1-9:nth-child(7), .col-1-10:nth-child(odd), .col-1-11, .col-1-12:nth-child(4), .col-1-12:nth-child(7), .col-1-12:nth-child(10) {
		padding-left: 0;
	}
	
	.col-1-5, .col-1-7, .col-1-11 {
		width: 100%;
	}
	
	.col-1-6, .col-1-9, .col-1-12, .col-2-9 {
		width: 33.33%;
	}
	
	.col-5-6, .col-7-9 {
		width: 66.66%;
	}
}