@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	2.1 - Main
	2.2 - Sub
	2.3 - Footer
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
    3.2 - Section Name
    3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
    5.2 - Text Colors
    5.3 - Text Sizes
    5.4 - Alignments
6.0 - Media Queries
--------------------------------------------------------------*/ /* set typeface heights, include viewport width for h1 */


/*--------------------------------------------------------------
1.0 - Typography
-------------------------------------------------------------- */
* {
	font-family: 'Source Sans Pro', sans-serif;
	color: #002a4f;
}

html {
	font-size: 16px;
}

h1, nav a, body > header p, .btn a, footer p, h4, span, .btn a:hover {
	color: #fff;
}

h1, header p, header ul, h2, #team ul, footer p, footer ul, h4 {
	text-align: center;
}

h1 a, h4 a {
	font-family: 'Abril Fatface', cursive;
	font-size: 1.25rem;
}

nav li, .btn, footer .col-1-4 {
	font-size: .85rem;
}

nav li, .btn, footer .col-1-4, h3 {
	font-weight: 700;
}

h3, header > div p:nth-child(2) {
	font-size: 1.4rem;
	line-height: 1.75rem;
}

header > div p:first-child {
	font-size: 2.75rem;
}

header > div p:first-child, h1, h4 a {
	font-weight: 100;
}

nav li, .btn, h2, h3 {
	text-transform: uppercase;
}

header ul, #team ul, footer nav > div[class*="col-"], footer ul {
	padding: 0;
}

h3, header > nav .col-1-12, header nav .col-1-3, footer nav > div[class*="col-"] {
	margin: 0;
}

h2, footer p, #team ul {
	margin-top: 0;
}

h4, footer p, #lg-adjust .circle {
	margin-bottom: 0;
}

#team i:hover, h4 a:hover {
	color: #006ee9;
}

/*--- 1.1 Headings ---*/

h2 {
	font-size: 1.85rem;
	font-weight: 900;
	padding-top: 3rem;
}

h1 {
	line-height: 1rem;
}

/*--- 1.2 - Body Copy ---*/

a {
	text-decoration: none;
}

#work section.row p {
	margin-top: .5rem;
}

/*--- 1.3 - Buttons ---*/

.btn a {
	padding: .5rem 2rem;
}

header nav li a:hover, .btn a, footer nav li a:hover {
	background-color: #fff;
	color: #002a4f;
	-moz-border-radius: 6rem;
	-o-border-radius: 6rem;
	-ms-border-radius: 6rem;
	-webkit-border-radius: 6rem;
	border-radius: 6rem;
}

.btn a:hover {
	background-color: #006ee9;
}

/*--- 1.5 - Lists ---*/

header nav li a, footer nav li a {
	padding: .3rem 1.5rem;
}

header nav .col-1-3 ul {
	text-align: right;
}

/*--- 1.6 - Tables ---*/


/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */

/*--- 2.1 - Main ---*/
/*--- 2.2 - Sub ---*/
/*--- 2.3 - Footer ---*/

/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */

/*--- 3.1 - Site Structure, Header, Footer---*/

.push-rt {
	float: right;
}

header nav .col-1-3 {
	flex: 1;
}

#lg-adjust > div:nth-child(2) {
	clear:left;
}

#lg-adjust {
	position: relative;
	top: 0;
	let: 0;
}

#lg-adjust > div:last-child {
	position: absolute;
	top: 0;
	right: 0;
}

header nav {
	background-color: rgba(0, 110, 233, .8);
}

li {
	display: inline-block;
}

body > footer {
	background-color: #002a4f;
}

header > div p:first-child {
	margin: 6rem 0 0;
}

header > div li {
	margin: 1rem .2rem;
}

/*--- 3.2 - Work ---*/

#work {
	background-color: #f0f1f2;
}

#work section.row {
	padding-top: 1.5rem;
}

/*--- 3.3 - Team ---*/

#team {
	background-color: #c5ced3;
}

#team span {
		display: none;
	}

#team > section > header {
	margin-bottom: 3rem;
}

#team ul li {
	margin: 1rem;
}

#team div.row .col-1-2:first-child {
	padding-right: 0;
}

/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */

body > header {
	background: center no-repeat url(../img/hero.jpg); 
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}

#work img {
		width: 4rem;
	}

#team i {
	font-size: 2.2rem;
}

/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */

/*--- 5.1 - Background Colors ---*/
/*--- 5.2 - Text Colors ---*/
/*--- 5.3 - Text Sizes ---*/
/*--- 5.4 - Alignments ---*/

.circle {
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.flex {  
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -webkit-flex;
	display: flex;
	align-items: center; 
}

/*--------------------------------------------------------------
6.0 - Media Queries
-------------------------------------------------------------- */

@media screen and (max-width: 480px) {
	
	.col-1-12, #work .col-1-4 {
		width: 25%;
	}
	
	.col-1-3, #work .col-3-4 {
		width: 75%;
	}
	
	body > header .col-1-2 {
		width: 100%;
	}
	
	footer [class*="col-"] {
		width: 100%;
	}
	
	footer span, header span {
		display: none;
	}
	
	#lg-adjust .circle {
		background: no-repeat center url(../img/headshot-one-sm.jpg);
		padding-top: 50%;
		-moz-background-size: cover;
		-o-background-size: cover;
		-webkit-background-size: cover;
		-ms-background-size: cover;
		background-size: cover;
	}	
	
	header nav li:first-child a, footer nav li:first-child a {
	padding: 0;
}
	
}

@media screen and (min-width: 480px) {
	
	html {
		font-size: 18px;
	}
	
	.wrapper {
		width: 70%;
	}
	
	#work .col-1-4, #work .col-3-4, #team div.row .col-1-2 {
		width: 100%;
	}
	
	#work section.row {
		width: 25%;
		float: left;
	}
	
	#team div.row section {
		width: 33.33%;
		float: left;
	}
	
	#lg-adjust > div:first-child {
		width: 66.66%;
	}
	
	#lg-adjust > div:nth-child(2), #lg-adjust > div:last-child {
		width: 33.33%;
	}
	
	#lg-adjust > div:nth-child(2) {
	clear: none;
	}
	
	#lg-adjust, #lg-adjust > div:last-child {
		position: static;
	}
	
	footer .col-1-4, footer .col-1-2 {
		float: right;
	}
	
	
	#lg-adjust .circle {
		background: no-repeat left url(../img/headshot-one-lg.jpg);
		padding-top: 30%;
		border-radius: 1rem;
		-moz-background-size: cover;
		-o-background-size: cover;
		-webkit-background-size: cover;
		-ms-background-size: cover;
		background-size: cover;
	}
	
	#team div.row .circle {
		max-height: 10rem;
	}
	
	body > header, #lg-adjust {
		padding-bottom: 3rem;
	}
	
	header > div p, header > div ul, #lg-adjust ul {
		text-align: left;
	}
	
	header > div p:first-child {
		margin: 9rem 0 0;
		font-size: 4rem;
	}
	
	header > div p:nth-child(2) {
		font-size: 1.2rem;
		font-weight: 300;
	}
	
	header > div p:nth-child(2), footer .col-1-4 p {
		line-height: 1.5rem;
	}
	
	.btn a {
		padding: 1rem 2.5rem;
	}
	
	.btn {
		padding-right: 2rem;
		
	}
	
	header > div ul {
		margin-top: 1.5rem;
	}
	
	#work, #team > section > div {
		text-align: center;
	}
	
	#work img {
		height: 5rem;
	}
	
	#work img, #team .circle {
		margin: 0 auto;
	}
	
	h3 {
		margin-bottom: 1.5rem;
	}
	
	#work, #team {
		padding: 2rem 0 4rem;
	}
	
	#team > section > header {
		padding: 0 7rem;
		margin-bottom: 5rem;
	}
	
	#lg-adjust .col-1-2:nth-child(2), #lg-adjust .col-1-2:last-child {
		padding-left: 2rem;
	}
	
	#team #lg-adjust ul li {
		margin-left: 0;
	}	
	
	#team > section > div .row {
		padding: 0 1rem;
	}
	
	#team > section .col-1-2, #team > section h3, #team > section ul {
		margin-bottom: 0;
	}
	
	#team > section p, #team > section h3 {
		margin-top: .5rem;
	}
		
	footer {
		padding: 4rem 0;
	}
	
	h4 {
		margin-top: 0;
	}

}